@model DriverModel

@{
    ViewData["Title"] = "Добавить водителя ";
}


<div>
    <h3>Форма добавления водителя</h3>
    <p>Для оформления водителя заполните следующие поля:</p>
    <form method="post">
        <table>
            <tr>
                <td>Имя:</td>
                <td>

                    <input type="text" name="Name"/>
                </td>
            </tr>

            <tr>
                <td>
                    <input type="submit" value="Добавить"/>
                </td><td></td>
            </tr>
        </table>
    </form>

</div>